<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
</head>
<body>
    <ul>
        <li><a href = "./home">Visited countries</a></li>
        <li><a href = "./countriesVisited">Visited countries</a></li>
    </ul>
    
    <h1>Here are the list of hobbies</h1>

</body>
</html>